html,
body,
p {
    margin: 0;
    padding: 0;
}

html, input {
    font-family: 'Roboto', sans-serif;
}

textarea:focus,
input:focus {
    outline: 0;
    font-size: 13px;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

#addTask {
    width: 50%;
    height: 38px;
    line-height: 30px;
    font-size: 20px;
    margin-top: 20%;
    border: 1px solid #c6c6c6;
    padding: 10px;
    box-sizing: border-box;
}

#taskList {
    margin: 20px auto 0 auto;
    width: 50%;
    border: 1px solid #c6c6c6;
    box-sizing: border-box;
    font-size: 13px;
}

.task {
    border-bottom: 1px solid #c6c6c6;
    margin: 0;
    padding: 10px 10px;
    text-align: left;
}

.task .editInput {
    display: none;
}

.task.edit .editInput {
    display: inline-block;
    border: 0;
    border-bottom: 1px solid #c6c6c6;
    width: 90%;
    padding: 0;
    margin: 0;
}

.task.edit p {
    display: none;
}

.task.complete p.taskParagraph {
    text-decoration: line-through;
    color: #c6c6c6;
}

.task:last-child {
    border: 0;
}

.task input[type="checkbox"] {
    margin: 4px 5px 0 0;
    padding: 0;
    display: inline-block;
    float: left;
}

.task p {
    width: 90%;
    display: inline-block;
    border-bottom: 1px solid transparent;
}

.task img {
    float: right;
    cursor: pointer;
}