html, body, p {
    margin: 0;
    padding: 0;
}

textarea:focus, input:focus{
    outline: 0;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

#addTask {
    width: 50%;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    margin-top: 20%;
}

#taskList {
    margin: 20px auto 0 auto;
    width: 50%;
    border: 1px solid #c6c6c6;
}

.task {
    border-bottom: 1px solid #c6c6c6;
    margin: 0;
    padding: 10px 10px;
    text-align: left;
}

.task:last-child {
    border: 0;
}

.task p {
    width: 90%;
    display: inline-block;
}

.task img {
    float: right;
    cursor: pointer;
}

.task .edit {
    border: 0;
}